##### **1. CONNECTION ESTABLISHMENT**

In [1]:
import pymysql

def db():
        return pymysql.connect(
            host='192.168.18.206',  # Remote MySQL Server IP
            user='root',
            password='mydb1234@XTI#2025',
            database='my_db',
            port=3306
        )
   
mydb = db()
cursor = mydb.cursor()

##### **2. TABLE CREATION IN DATABASE**

**NTID REQUEST DETAILS TABLE**

In [6]:
# id INT AUTO_INCREMENT PRIMARY KEY,
# fillers_email VARCHAR(255) NOT NULL,
# your_name VARCHAR(255) NOT NULL,
# employee_name VARCHAR(255) NOT NULL,
# date DATE NOT NULL,
# pay_rate DECIMAL(10,2) NOT NULL,
# pay_type VARCHAR(50) NOT NULL,
# position VARCHAR(255) NOT NULL,
# email VARCHAR(255) NOT NULL,
# phone VARCHAR(20) NOT NULL,
# t_shirt_size VARCHAR(50),
# badge_name VARCHAR(255),
# language VARCHAR(100),
# training_completed ENUM('Yes', 'No', 'Other') NOT NULL,
# training_details TEXT,
# market_selection TEXT
# training_proof LONGBLOB, 
# file_type VARCHAR(50)


query = "CREATE TABLE NTID_REQUEST_DETAILS (id INT AUTO_INCREMENT PRIMARY KEY, fillers_email VARCHAR(255) NOT NULL, your_name VARCHAR(255) NOT NULL, employee_name VARCHAR(255) NOT NULL, date DATE NOT NULL, pay_rate DECIMAL(10,2) NOT NULL, pay_type VARCHAR(50) NOT NULL, position VARCHAR(255) NOT NULL, email VARCHAR(255) NOT NULL, phone VARCHAR(20) NOT NULL, t_shirt_size VARCHAR(50), badge_name VARCHAR(255), language VARCHAR(100), training_completed ENUM('Yes', 'No', 'Other') NOT NULL, training_details TEXT, market_selection TEXT, primary_door VARCHAR(255),secondary_door VARCHAR(255), training_proof LONGBLOB, file_type VARCHAR(50));"
cursor.execute(query)

0